{% extends 'base.html' %}

{% block headcontent %}
<title>학원검색</title>
{% endblock %}
{% block content %}
{% load static %}
<style>
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,300,400,500,600,700,900&display=swap');
</style>
 <main class="" id="main-collapse">
     <div class="row">
         <div class="col-xs-8 section-container-spacer">
             <h1>지역별 학원 검색</h1>
             <p>지역별로 학원 검색을 해보자!</p>
         </div>
    </div>

    <section class="search-sec">
        <div class="container">
            <form action="{% url 'services1' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select onchange="if(this.value) location.href=(this.value);" class="form-control search-slt" id="exampleFormControlSelect">
                                    <option>{{dosi}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                 <select onchange="if(this.value) location.href=(this.value)" class="form-control search-slt" id="exampleFormControlSelect2">
                                    <option>시/군/구</option>
                                    {% for sido in sidos %}
                                     {% if sido.town_name == dosi %}
                                     <option onchange="location.href ={% url 'services1' %}">{{sido.city_name}}</option>
                                     {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                    <option>학원명</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <a onclick="notyet()" class="btn btn-danger wrn-btn">검 색</a>
                                <a href="{% url 'services1' %}" class="btn btn-danger wrn-btn">재설정</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </section>
<hr>
</main>
<script>
    function notyet() {
    alert("위치정보를 입력해주세요")
    }
</script>
{% endblock %}