{% extends 'base.html' %}

{% block headcontent %}
<title>학원 후기 목록</title>
{% endblock %}

{% block css %}
  .b2{
    border: 0;
  }
  .b2:hover{
    background-color: #ff6360;
    color : white;
  }
{% endblock %}

{% block content %}
{% load static %}

{% if review %}
<style>
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,300,400,500,600,700,900&display=swap');
</style>

<main class="" id="main-collapse">
  <div class="row">
    <div class="col-xs-8 section-container-spacer">
      <h1>학원 후기 수정</h1>
      <p>학원 후기 수정해 봅시다!</p>
      <hr>
    </div>
  </div>

  <form method="POST" action="{% url 'update_academy2' review.pk %}" >
    {% csrf_token %}
      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        <select id="a_city" class="form-control" onchange="getTown(this.value)" name="a_city" required>
          <option value="none">=== 선택 ===</option>
          <option value="서울">서울</option>
          <option value="인천">인천</option>
          <option value="경기">경기</option>
        </select>
       </div>
      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        <select id="a_town" class="form-control" onchange="getName(this.value)" name="a_town" required>
          <option value="none">=== 선택 ===</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 p-0" id="name">
        <select id="a_name" class="form-control" name="a_name" required>
          <option value="none">=== 선택 ===</option>
        </select>
      </div>
      <br>
      <br>
      <br>
      <label for="InputTitle">제목</label>
      <input type="text" class="form-control" id="InputTitle" name="title" placeholder="title" value="{{ review.title }}" required><br>
      <label for="InputContent">내용</label>
      <textarea id="InputContent" class="form-control" rows="3" name="content" placeholder="content" required>{{ review.content }}</textarea><br>
      <label for="InputPassword">비밀번호</label>
      <input type="password" class="form-control" id="InputPassword" name="password" placeholder="password" required><br>
      {% if msg %}
      <div class="alert alert-danger" role="alert">{{ msg }}</div>
      {% endif %}
      <br>
      <button class="b2" type="submit" value="Submit">수정완료</button>
      <button class="b2" type="reset" value="Reset">재작성</button>
  </form>
</main>
{% endif %}

<script>

  $(document).ready(function() {

    $('#a_city').val("{{ review.academy_id.address_city }}").prop("selected", true);
    console.log("1");

    $.getJSON("{% url 'get_academy_town' %}?value={{ review.academy_id.address_city }}", function(jsonObj){
      if(jsonObj.length!=0){
        for(let i in jsonObj.townList)
          $('#a_town').append("<option value="+ jsonObj.townList[i] +">"+ jsonObj.townList[i] + "</option>");
        $('#a_town').val("{{ review.academy_id.address_town }}").prop("selected", true);
        console.log("2");
      }
    });

    $.getJSON("{% url 'get_academy_name' %}?value={{ review.academy_id.address_town }}", function(jsonObj){
      if(jsonObj.length!=0){
        for(let i in jsonObj.nameList)
           $('#a_name').append("<option value="+ jsonObj.nameList[i] +">"+ jsonObj.nameList[i] + "</option>");
        $('#a_name').val("{{ review.academy_id.name }}").prop("selected", true);
        console.log("3");
      }
    });

  });

  function getTown(city){
    var target = $('#a_town');

    $.getJSON("{% url 'get_academy_town' %}?value="+city, function(jsonObj){
      if(jsonObj.length!=0){
        for(let i in jsonObj.townList)
          target.append("<option value="+ jsonObj.townList[i] +">"+ jsonObj.townList[i] + "</option>");
        console.log("4");
      }
    });
  }

  function getName(town){
    var target = $('#a_name');

    $.getJSON("{% url 'get_academy_name' %}?value="+town, function(jsonObj){
      if(jsonObj.length!=0){
        for(let i in jsonObj.nameList)
          target.append("<option value="+ jsonObj.nameList[i] +">"+ jsonObj.nameList[i] + "</option>");
        console.log("5");
      }
    });
  }

</script>
{% endblock %}