{% extends 'base.html' %}

{% block headcontent %}
<title>Title page</title>
{% endblock %}

{% block content %}
{% load static %}

<!-- 팀원들 깃허브와 연결지으면 어떨지.. -->

<main class="" id="main-collapse">
<!-- Add your site or app content here -->
  <div class="hero-full-wrapper">
    <div class="grid">
    <div class="gutter-sizer"></div>
      <div class="grid-sizer"></div>

      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/img-12.jpg' %}">
        <a href="{% url 'contact' %}" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>다함께 차차차</h3>
              <p>후원 하기</p>
            </div>
          </div>
        </a>
      </div>


      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/img-05.jpg' %}">
        <a href="https://github.com/he-reme" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>김혜림</h3>
              <p>he-reme</p>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/img-13.jpg' %}">
        <a href="./project.html" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>안상현</h3>
              <p>깃허브닉네임</p>
            </div>
          </div>
        </a>
      </div>
      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/img-04.jpg' %}">
        <a href="./project.html" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>장소영</h3>
              <p>깃허브닉네임</p>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/img-07.jpg' %}">
        <a href="./project.html" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>조용상</h3>
              <p>깃허브 닉네임</p>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/img-11.jpg' %}">
        <a href="./project.html" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/img-10.jpg' %}">
        <a href="./project.html" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
        </a>
      </div>
      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/img-03.jpg' %}">
        <a href="./project.html" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>Vivamus vestibulum</h3>
              <p>Discover more</p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      masonryBuild();
    });
  </script>

</main>

{% endblock %}