{% extends 'base.html' %}

{% block headcontent %}
<title>운전면허</title>
{% endblock %}
{% block content %}
{% load static %}
<br>
<br>
<br>
<style>

@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,300,400,500,600,700,900&display=swap');

    main > h2 :hover {
       background-color : #ffffb3;  ;
    }
     h2{
       font-weight : normal;
    }
      h1{
       font-weight : normal;
    }
</style>
 <main class="" id="main-collapse">

<div class="contents m01_DB001">
		 <h2><a style="color:black" href= "{% url 'information_0' %}">면허시험 준비물 가이드</a></h2>
<hr>

    <h2><a style="color:black" href= "{% url 'information_1' %}">면허시험 순서</a></h2>
<hr>

    <h2><a style="color:black" href= "{% url 'information_2' %}">시험자격/결격/면제</a></h2>
<hr>

     <h1><a style="color:black" href= "{% url 'information' %}">응시 전 교통안전교육</a></h1>


<ul class="tabs_ui col4">
				<li class="current"><a href="{% url 'information_3_1' %}">응시 전 교통안전교육</a></li>
				<li><a href="{% url 'information_3_2' %}">신체검사</a></li>
			</ul>


     <h2><a style="color:black" href= "{% url 'information_4' %}">학과/기능/도로주행</a></h2>
<hr>

     <h2><a style="color:black" href= "{% url 'information_5' %}">시험장별 응시가능 시험</a></h2>
<hr>

     <h2><a style="color:black" href= "{% url 'information_6' %}">운전면허의 종류</a></h2>
<hr>
</div>
</main>
{% endblock %}