{% extends 'base.html' %}

{% block headcontent %}
<title>운전면허</title>
{% endblock %}
{% block content %}
{% load static %}
<br>
<br>
<br>
<style>

@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,300,400,500,600,700,900&display=swap');

    main > h2 :hover {
       background-color : #ffffb3;  ;
    }
    main > h2{
       font-weight : normal;
    }
      h1{
       font-weight : normal;
    }
</style>
 <main class="" id="main-collapse">


	 <h2><a style="color:black" href= "{% url 'information_0' %}">면허시험 준비물 가이드</a></h2>
<hr>

    <h2><a style="color:black" href= "{% url 'information_1' %}">면허시험 순서</a></h2>
<hr>
			<div class="tit_g">
				<h1><a style="color : black" href="{% url 'information' %}">시험자격/결격/면제</a></h1>
			</div>
			<ul class="tabs_ui col4">
				<li class="current"><a href="{% url 'information_2_1' %}">시험 면제</a></li>
				<li><a href="{% url 'information_2_2' %}">운전면허 결격사유</a></li>
				<li><a href="{% url 'information_2_3' %}">응시 제한</a></li>
				<li><a href="{% url 'information_2_4' %}">시험자격</a></li>
			</ul>

 <h2><a style="color:black" href= "{% url 'information_3' %}">응시 전 교통안전교육</a></h2>
<hr>

     <h2><a style="color:black" href= "{% url 'information_4' %}">학과/기능/도로주행</a></h2>
<hr>

     <h2><a style="color:black" href= "{% url 'information_5' %}">시험장별 응시가능 시험</a></h2>
<hr>

     <h2><a style="color:black" href= "{% url 'information_6' %}">운전면허의 종류</a></h2>
<hr>
</main>
{% endblock %}